.graduationYearButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.graduationYearButton div {
  height: 74px;
  width: 463px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  background-color: var(--accent-color);
  font-size: 36px;
  font-family: "PT Mono";
  border: none;
  border-radius: 2px;
}
