.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 40px;
  background-color: var(--primary-color);
  height: 153px;
}

.pageName {
  font-size: 36px;
}
a {
  text-decoration: none;
  color: inherit;
}
