@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 10px 40px;
  background-color: var(--primary-color);
  height: 153px;
}
.rtgLogo,
.mentorshipLogo {
  width: 100px;
  height: auto;
}

.pageName {
  font-size: 36px;
}
