.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  height: 120px;
  width: 100%;
  box-sizing: border-box;
}

.logoImage {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.pageName {
  font-size: 1.8em;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}
a:hover {
  color: var(--text-primary);
}

/* Responsiveness */
@media (max-width: 768px) {
  .headerContainer {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .pageName {
    font-size: 1.5em;
    margin: 10px 0;
  }

  .logoImage {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .pageName {
    font-size: 1.2em;
  }

  .logoImage {
    max-width: 120px;
  }
}
