nav {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px 0 0;
  text-align: center;
  font-size: 18px;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

ul li {
  margin: 0 auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-align: center;
}

li a:hover {
  color: #black;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
}

ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid var(--primary-color);
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

ul li ul li a {
  transition: all 0.5s ease;
}

.menu-items a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* Responsivness */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  ul.menu-items {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  ul.menu-items.open {
    display: flex;
  }

  ul.menu-items li {
    display: block;
    text-align: left;
    padding: 10px 20px;
  }

  ul li ul {
    position: static;
    visibility: visible;
    opacity: 1;
    display: block;
    text-align: left;
  }

  ul li ul li {
    margin-bottom: 10px;
    text-align: left;
  }
  /* Center the years for Experts/Speakers */
  .experts ul li {
    text-align: center;
    margin-left: -20px;
  }
}
