.searchContainer {
  display: flex;
  justify-content: flex-end;
  padding: 60px 50px 40px 0;
}

.filterButton button {
  margin-right: 30px;
  width: 213px;
  height: 47px;
  text-align: center;
  background-color: var(--primary-color);
  cursor: pointer;
  border-radius: 30px;
  font-size: 24px;
}

.searchInput input {
  width: 280px;
  height: 44px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
}
