.graduationYearButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.graduationYearButton div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  font-size: 52px;
  font-family: "PT Mono";
  border: none;
  border-radius: 2px;
}
