:root {
  --background-color: #000000;
  --text-primary: #ffffff;
  --primary-color: #85ab31;
  --opacity-primary: rgba(0, 123, 255, 0.7);

  --secondary-color: #024c20;
  --accent-color: #008046;
  --text-secondary: #0c0a2b;
}

@font-face {
  font-family: "PT Mono";
  src: local("PT Mono"), url("./fonts/PTMono-Regular.ttf") format("truetype");
}
body {
  margin: 0;
  padding: 0;
  background: black;
  font-family: PT Mono;
  color: var(--text-primary);
}
