.background {
  position: relative;
}

.backgroundBlur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  z-index: 999;
  pointer-events: none;
}

.peopleList {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

 .peopleList > div {
  flex-basis: 50%;
} 
