
.mentorCard{
background-color: var(--secondary-color);
padding-top: 10px;
margin: 30px;
margin-left: 60px;
margin-right: 60px;
}


button{
    color: #024C20;
    background-color: var(--primary-color);
    cursor: pointer;
  border: none;
  border-radius: 30px;
  font-size: 18px;
  font-family: "PT Mono";
  transition: box-shadow 0.3s ease;
  margin-bottom: 15px;
}