nav {
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px 0 0;
  text-align: center;
  font-size: 18px;
}

ul li {
  margin: 0 auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-align: center;
}

li a:hover {
  color: #black;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: black;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
}

ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid var(--primary-color);
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--primary-color);
}

ul li ul li a {
  transition: all 0.5s ease;
}

.menu-items a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
