
.expertsHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 50px;
    color: var(--accent-color);
    font-size: 52px;
}

.expertContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
    justify-content: center;
}

.expertCard {
    background-color: var(--accent-color);
    color: white;
    padding: 16px;
    flex: 1 0 30%;
    max-width: 30%;
    border-radius: 2px;
    text-align: center;
    margin: 30px;
}

.expertLinkedInLink {
    color: #013617;
}

.expertButtonContainer{
    display: flex;
    justify-content: flex-end;
}
.expertButton {
    border-radius: 30px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 16px;
}

.loadMoreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .loadMoreContainer button {
    border: none;
    background-color: var(--accent-color);
    color: black;
    padding: 8px 16px;
    margin: 0 8px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .loadMoreContainer button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }